<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap" rel="stylesheet"> 

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
header {
    color: white;
    font-family:font-family: 'Libre Bodoni', serif;
    background-color: rgba(61, 21, 61, 0.815);
    text-align: center;
    padding: .5em;
    border-radius: .5em;
}
img {
    float:left;
    margin: 10px;
    width: 10em;
    border-radius: .5em;
}
footer {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(61, 21, 61, 0.815); 
    text-align: center;
    padding: .5em;
    border-radius: .5em;
    
}
.body {
    display: flex;
    max-width: 75%;
    margin: auto;
    row-gap: 10px;
    align-content: center;
    flex-direction: column;
      
}
.name {
    margin: auto;
    padding: 50px; 
}


