/* phone or baseline views */
body{
    margin: 0;
    padding:0;
}
img {
    display: block; 
    margin: auto; 
    width: 50%;
    align-items: center;
}

/*********** Header */
header {
    display: flex ;
	flex-direction: column ;
	justify-content: center ;
    color: #cacfd8;
    font-family:'Domine', serif;
    background-color: #023a5d;
    padding: 5px 0; 
    margin: 0 auto; 
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center ;
	text-align: center ;
}
.logo {
    display: flex;
    align-items: center;
    
}
.headings {
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.sub {
    color: #cacfd8;
    letter-spacing: -0.08em;
    padding: 0px;
}

.currentdate {
    border:1px solid #cacfd8;
    padding: 10px;
    margin: 10px; 
    text-align: center;
}
#logoimg {
    width: 200px; 
}

/********** Navigation */





nav button {
    background: transparent;
    border: none;
    font-size: 1rem;
    color: #023a5d;
}
.primaryNav {
    list-style: none;
    text-align: center;
    padding: 0;
}
.primaryNav li:first-child {
    display: block;
}
.primaryNav li {
    display: none;
}
.responsive li {
    display: block;
}
nav a:hover {
    background-color: #bbb;
    color: #36454f;
    --d: 75%;
}
nav ul {
    background-color: #E5DDDC; 
}
nav ul li a {
    
    display: block;
    color: black;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
    transition: 0.5s;
}


main div {
    border:1px solid #023a5d;
    background-color: #cacfd8;
    margin: 1em;
    padding: 1em;  
}
.spot1, .spot2 {
    border:1px solid #023a5d;
    background-color: #cacfd8;
    margin: 1em;
    padding: 1em;  
}
.spot, .spot2 link {
    text-align: center;

}
.hero {
    padding: 0px;
}
.herojoin {
    font-size: 1rem;
    background-color: #023a5d;
    color: black;
    padding: 15px 5px;
    border-radius: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heroimg { 
    width: 100%;
    height: auto;
    opacity: 0.5;
}
.spot3{
   display: none;
   
}
.join {
    display: none; 
}


/******* Headings & Paragraph */
h1, h2, h3, h4 {
 
    font-family:'Domine', serif;
    margin: 5px; 
    padding: .3em;
    border-radius: .5em;
    text-align: center;
}

h1 {
    color:#cacfd8;
    font-size: 30px;
    text-align: center;
}

h2 {
    background-color: #1c7b9b;
    font-size: 25px;
    color:#023a5d;
    max-width: fit-content;
}

h3 {
    font-size: 20px;
    color:#023a5d;
}

p {
    font-family:'Source Sans Pro', sans-serif;
    color: black;
    font-size: 16px;
    margin: 15px;
    text-align: center;
}


/********** Footer */
footer {
    color: #cacfd8;
    font-family:'Domine', serif;
    background-color: #023a5d;
    padding: .5em;
    text-align: center;
  
}

footer p {
    color: #cacfd8;
    text-align: center;
    font-family: 'Domine', serif;
}
#footlink {
    text-decoration: none;
    color:#cacfd8;
}
hr {
    color:#cacfd8;
}
.social {
    display: block;
    margin-right: 1.5rem;
}

.social svg {
	width: 25px;
	height: auto;
    padding: .5rem; 
}








