
body {
    font-family:'Libre Bodoni', serif;
    display: grid;
    max-width: 75%;
    margin: auto;
    row-gap: 10px;
    align-content: center;
}

nav {
    color: white;
    font-family:'Libre Bodoni', serif;
    background-color: rgba(109, 194, 196, 0.815);
    text-align: center;
    margin: 5px; 
    padding: .5em;
    border-radius: .5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav button {
    background: transparent;
    border: none;
    font-size: 1rem;
    color:  #A28F9D;
}
.primaryNav {
    list-style: none;
    text-align: center;
    padding: 0;
}

.primaryNav li {
    display: none;
}
.responsive li {
    display: block;
}
nav a:hover {
    background-color: #A28F9D;
    color: #2374AB;
    --d: 75%;
}
nav ul {
    background-color: #E5DDDC; 
}
nav ul li a {
    
    display: block;
    color: black;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
    transition: 0.5s;
}








header {
    color: white;
    font-family:'Libre Bodoni', serif;
    background-color: rgba(109, 194, 196, 0.815);
    text-align: center;
    margin: 5px; 
    padding: .5em;
    border-radius: .5em;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

h1 {
    text-align: center;
   
}

img {
    margin: 10px;
    width: 10em;
    border-radius: .5em;
    grid-column: 1;
}

footer {
    color: white;
    font-family:'Libre Bodoni', serif;
    background-color: rgba(109, 194, 196, 0.815); 
    text-align: center;
    padding: .5em;
    border-radius: .5em;
    
}
