
body {
    font-family:'Libre Bodoni', serif;
    display: grid;
    max-width: 75%;
    margin: auto;
    row-gap: 10px;
    align-content: center;
    
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
/********** Navigation **********/
nav {
    background-color: #0f396b;
    color: #faf3dd;
    text-decoration: none;
    text-align: center; 
    display: flex; 
    flex-direction: column;
    padding: .5em;
    line-height: 1.7em;
    margin: 4px;
}
nav ul li a {
    color: #faf3dd; 
    text-decoration: none;
    display: block; 
    
}
nav ul {
	list-style-type: none;
    flex: 1 1 auto;
}
nav a:hover {
	background-color: rgb(12, 17, 56);
}



nav button {
    background: transparent;
    font-size: 1rem;
    color:  #faf3dd;
}
.primaryNav {
    list-style: none;
    text-align: center;
    padding: 0;
}

.primaryNav li {
    display: none;
}
.responsive li {
    display: block;
}

/********** Header **********/
header {
    color: #faf3dd;
    font-family:'Libre Bodoni', serif;
    background-color: #0f396b;
    text-align: center;
    margin: 5px; 
    padding: .5em;
    border-radius: .5em .5em 0em 0em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 18px;
	cursor: pointer;
    background-color: #faf3dd;
    border-radius: 1px;
    border-bottom: black;
    color: black;
    padding: 10px;
}

h1 {
    text-align: center;
}

img {
    margin: 10px;
    width: 10em;
    border-radius: .5em;
    grid-column: 1;
}

 main {
    background-color: #faf3dd;
    color: black;
 }

/********** Footer **********/
footer {
    color: #faf3dd;
    font-family:'Libre Bodoni', serif;
    background-color: #0f396b;
    text-align: center;
    padding: .5em;
    border-radius: 0em 0em .5em .5em ;
}
