@media only screen and (min-width: 32.5em) {
	
    nav {
        flex-direction: row;
    }

    nav ul.open {
        font-size: 1.4em ;
        margin: 0 ;
    }
    .primaryNav {
        display: flex;
    }
  
    .primaryNav li {
        display: block;
        flex: 1 1 100%;
    }

    button {
        display: none ;
    }


    .card {
         float: left;
         width: 40%;
         margin: 10px; 
         padding: 10px; 
         border: 2px solid #218592;
    }
    }